@font-face {
  font-family: 'Open Sans300';
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('truetype'); /* Safari, Android, iOS */
 }
 @font-face {
  font-family: 'Open Sans400';
  src: url('src/fonts/Open Sans400.ttf') format('truetype'); /* Safari, Android, iOS */
 }
 @font-face {
  font-family: 'Libre Baskerville';
  src: url('src/fonts/Libre Baskerville.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
 }
@media screen and (-webkit-min-device-pixel-ratio:0) {
html {-webkit-font-smoothing: antialiased;}}
body {
  color: #495c5e;
}

#xNav {
  top: 25px;
  left: 50px;
  padding-left: 1em;
  font-family: 'Libre Baskerville', serif; font-weight: 400;
  font-size: 12pt;
  letter-spacing: 0.5px;
}

.logo {
  margin-top: 10px;
  line-height: 20px;
}

.sub {
  font-family: 'Open Sans300', sans-serif; font-weight: 300;
  font-size: 21pt;
  letter-spacing: 0.25px;
}

.heading {
  font-family: 'Open Sans400', sans-serif; font-weight: 400; 
  font-size: 21pt;
  letter-spacing: 0.5px;
  
}

.navbar {
  margin-top: 20px;
  background-color: white;
  border-style: none;
}

.navbar .active a {
  color: black!important;
  background-color: white!important;
}

.navbar .active hover {
  background-color: white!important;
}

.navbar a:hover {
  background-color: white!important;
}

.navbar .navbar-nav li a:hover {
  color: black;
}

.navbar .navbar-nav li a {
  color: #495c5e;
}

.navbar .navbar-toggle .icon-bar {
  background-color: grey
}

.navbar .navbar-toggle {
  border-color: grey;
}

.navbar .navbar-toggle:hover {
  background-color: #222;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 80%;
  margin: auto;
}

.carousel-controls{
  position:relative; 
  width:300px;
  top: -30px;
  background-color:none;
  margin:0 auto;
}

.carousel-indicators{
   top: 0px; 
}


    
